body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #304162;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.botominicial {
    margin-bottom: 20px;
}

.botominicial button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}

.botominicial button:hover {
    background-color: #45a049;
}

.cuadrodeinformacion {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.lista {
    margin-bottom: 20px;
}

.informacion {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.informacion span {
    font-weight: bold;
    color: #d9534f;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f1f1f1;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

#timer {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #d9534f;
}

#next-btn {
    margin-top: 20px;
}

#resultado {
    text-align: center;
}
